<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OpcUaServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <OpcUaServer.Properties.Settings>
            <setting name="ServiceDescription" serializeAs="String">
                <value>Service that provides data from the control system via the OPC UA protocol</value>
            </setting>
            <setting name="ServiceName" serializeAs="String">
                <value>OpcUaServer</value>
            </setting>
        </OpcUaServer.Properties.Settings>
    </applicationSettings>
</configuration>