<?xml version="1.0" encoding="utf-8"?>
<OpcUAServer>
  <OpcUASettings>
    <PortHttps>4841</PortHttps>
    <PortTcp>4840</PortTcp>
    <BaseAddress>Ammann/OpcUAServer/</BaseAddress>
	<Culture>en-US</Culture>
  </OpcUASettings>
  <ConnectionPlugin>
    <Messaging>
      <HostName>127.0.0.1</HostName>
      <Port>10015</Port>
    </Messaging>
  </ConnectionPlugin>
  <Logging/>
</OpcUAServer>
